body {
   background-color: #FFFFFF;
   font-family: "Roboto", Helvetica, sans-serif;
   color: #434455;
   letter-spacing: 2%;
   line-height: 1.5;
}

a {
   text-decoration: none;
   letter-spacing: 4%;
   line-height: 1.33;
}


.logo {
   text-transform: uppercase;
   color: #2E2F42;
   font-family: "Raleway", Helvetica, sans-serif;
   font-weight: bold;
}

ul {
   list-style-type: none;
}

.logo span {
   color: #4D5AE5;
}

nav a {
   color: #2E2F42;
   font-weight: 500;

}

header ul a:hover {
   color: #404BBF;
}

nav a:active {
   text-decoration: underline;
}

address a {
   color: #434455;

}

#hero {
   background-color: #2E2F42;
}


h1 {
   font-size: 56px;
   color: white;
   text-align: center;
}

h2 {
   font-size: 36px;
   text-align: center;
   color: #2E2F42;
}

h3 {
   font-size: 20px;
   font-weight: 500;
}

#hero button {
   background-color: #4D5AE5;
   color: white;
   font-family: "Roboto", Helvetica, sans-serif;
   font-weight: 500;
}

#hero button:hover {
   background-color: #404BBF;
}

#team {
   background-color: #F4F4FD;
}

#team ul li {
   background-color: white;
}

#team ul li p,
#team ul li h3 {
   text-align: center;
}

#footer {
   background-color: #2E2F42;
   color: #F4F4FD;
}

#footer a {
   color: #F4F4FD;
}